@font-face {
  font-family: "beautiful_every_timeregular";
  src: url("/assets/fonts/beautifuleverytime.woff2") format("woff2"), url("/assets/fonts/beautifuleverytime.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "dinmedium";
  src: url("/assets/fonts/din_medium.woff2") format("woff2"), url("/assets/fonts/din_medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "dinregular";
  src: url("/assets/fonts/din_regular.woff2") format("woff2"), url("/assets/fonts/din_regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DINPro-Bold";
  src: url("/assets/fonts/DINPro-Bold.woff2") format("woff2"), url("/assets/fonts/DINPro-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
