// Typography
// =============================================================================
//	MIXINS
// =============================================================================

@mixin base-font {
  margin: 0;
  font-family: $regular;
  font-size: 1.3rem;
  line-height: 1.5;
  @include media($medium) {
    font-size: 1.4rem;
  }
  @include media($xxlarge) {
    font-size: 1.8rem;
  }
}

@mixin base-font-style {
  @include base-font;
  padding-bottom: 0.5em;
  &:last-child {
    padding-bottom: 0;
  }
}

@mixin large-font-style {
  margin: 0;
  font-family: $bold;
  font-size: 1.6rem;
  line-height: 1.5;
  @include media($medium) {
    font-size: 1.5rem;
  }
  @include media($xxlarge) {
    font-size: 2rem;
  }
}

@mixin headings-font-style {
  margin: 0;
  padding-bottom: 0.5em;
  font-family: $bold;
  &:last-child {
    padding-bottom: 0;
  }
}

@mixin h1-font-style {
  @include headings-font-style;
  font-size: 3.2rem;
  line-height: 1;
  @include media($medium) {
    font-size: 5rem;
  }
  @include media($xxlarge) {
    font-size: 8rem;
  }
}

p {
  @include base-font-style;
}
h1 {
  @include h1-font-style;
}
