.top-red-border {
  width: 100%;
  height: 3rem;
  background-color: $primary-color;
  display: block;
  @include media($medium) {
    height: 2rem;
  }
  @include media($xxlarge) {
    height: 3rem;
  }
}

header {
  &.header-title {
    margin-top: 8vh;
    @include media($medium) {
      margin-top: 6vh;
    }
    @include media($xxlarge) {
      margin-top: 8vh;
    }
    h1 {
      text-align: center;
      color: $white;
      font-family: $script;
      text-transform: uppercase;
      font-weight: 300;
    }
  }
}
