.relevant-range-section {
    background-color: gray;

    input[type=range] {
        -webkit-appearance: none; 
        // width: 100%; 
        background: transparent; 
    }
      
      input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 15px;
        height: 15px;
        background-color: red;
      }
      
      input[type=range]:focus {
        outline: none; }
      
      input[type=range]::-ms-track {
        width: 100%;
        cursor: pointer;
        background: transparent; 
        border-color: transparent;
        color: transparent;
      }
}