$range-bar-h: 2rem;
$md-range-bar-h: 1.5rem;
$range-bar-outer-h: 4rem;
$md-range-bar-outer-h: 3rem;
$range-thumb-w: 2.2rem;
$md-range-thumb-w: 1.6rem;

.relevant-range-section {
  padding: 0;
  margin-top: 8vh;
  @include media($medium) {
    padding: 0 4rem;
  }
  @include media($xxlarge) {
    padding: 0 8rem;
  }
  .relevant-range-bar-outer {
    width: 100%;
    padding: 0 1rem;
    height: $range-bar-outer-h;
    border-radius: $range-bar-outer-h/2;
    background: rgba(255, 255, 255, 0.2);
    @include media($medium) {
      padding: 0 0.75rem;
      height: $md-range-bar-outer-h;
    }
    @include media($xxlarge) {
      padding: 0 1rem;
      height: $range-bar-outer-h;
    }
  }
  .relevant-range-bar {
    width: 100%;
    height: $range-bar-h;
    border-radius: $range-bar-h/2;
    position: relative;

    @include media($medium) {
      height: $md-range-bar-h;
    }
    @include media($xxlarge) {
      height: $range-bar-h;
    }

    .range-level {
      flex-grow: 1;
      height: 100%;
      margin-right: 0.1rem;
      position: relative;
      &.one {
        border-radius: 1rem 0 0 1rem;
        background-color: #c07363;
      }
      &.two {
        background-color: #c3403a;
      }
      &.three {
        margin-right: 0;
        border-radius: 0 1rem 1rem 0;
        background-color: $primary-color;
      }

      span {
        width: 100%;
        position: absolute;
        top: 4rem;
        left: 50%;
        transform: translateX(-50%);
        @include large-font-style;
        color: $white;
        text-align: center;
        text-transform: uppercase;
      }
    }

    .range-triggers {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: $range-bar-h;
      & > div {
        flex-grow: 1;
        height: $range-bar-h;
      }
    }
  }

  input[type="range"] {
    -webkit-appearance: none;
    width: calc(75% - 1.1rem);
    background: transparent;
    position: absolute;
    left: 50%;
    top: -1.8rem;
    transform: translateX(-50%);
    z-index: 9;
    @include media($medium) {
      top: -1.4rem;
      width: calc(70% - #{$md-range-thumb-w});
    }
    @include media($xlarge) {
      top: -1.8rem;
      width: calc(70% - #{$range-thumb-w});
    }
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: $range-thumb-w;
    height: 4rem;
    background: url("../img/range-thumb.png") no-repeat;
    background-size: contain;
    cursor: pointer;
    @include media($medium) {
      height: 3.5rem;
      width: $md-range-thumb-w;
    }
    @include media($xxlarge) {
      height: 4rem;
      width: $range-thumb-w;
    }
  }

  input[type="range"]:focus {
    outline: none;
  }

  input[type="range"]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
}
