$circle-hw: 20rem;
$md-circle-hw: 14rem;
$icon-hw: 6rem;
$md-icon-hw: 4rem;

.time-icons-section {
  width: calc(100% + 3rem);
  margin-left: -1.5rem;
  margin-top: 3vh;
  @include media($medium) {
    width: 100%;
    margin-left: 0;
    margin-top: 15vh;
  }

  .time-icon {
    margin: 0 1rem;
    cursor: pointer;
    user-select: none;
    @include transition(0.5s);
    transform: translateY(0);
    @include media($medium) {
      background-color: $white;
      border-radius: $circle-hw/2;
      flex-basis: $circle-hw;
      margin: 0 1rem;
      flex-basis: $md-circle-hw;
      height: $md-circle-hw;
    }
    @include media($xxlarge) {
      margin: 0 1.5rem;
      flex-basis: $circle-hw;
      height: $circle-hw;
    }

    .mb {
      width: $circle-hw;
      height: $circle-hw;
      background-color: $white;
      border-radius: $circle-hw/2;
    }

    .icon {
      width: $icon-hw;
      height: $icon-hw;
      @include media($medium) {
        width: $md-icon-hw;
        height: $md-icon-hw;
      }
      @include media($xxlarge) {
        width: $icon-hw;
        height: $icon-hw;
      }
      img {
        width: 100%;
      }
    }
    p {
      display: block;
      padding-top: 1rem;
      color: $primary-color;
      font-weight: bold;
    }

    &.disabled {
      @include media($medium) {
        opacity: 0.5;
        transform: translateY(1rem);
      }
    }
    &.active {
      @include media($medium) {
        box-shadow: 0px 0px 38px 1px rgba(0, 0, 0, 0.2);
      }
    }
    &:hover {
      @include media($medium) {
        box-shadow: 0px 0px 38px 1px rgba(0, 0, 0, 0.2);
      }
    }
  }

  &.has-active {
    .time-icon {
      @include media($medium) {
        opacity: 0.5;
        transform: translateY(1rem);
      }

      &.active {
        @include media($medium) {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
}
